@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
 
}

*, *:before, *:after {
    box-sizing: inherit;

}

header {
    background-color: #ccc;
    overflow: hidden;

}

body {
    padding: 0;
    margin: 0;

}

img {
  display: block;
  width: 100%;
}


h1 { 
    padding-right:0;
    margin-left:35%;
    font-family: sans-serif;

}
 h2 {
    font-family: sans-serif;
 }
.grid h1 {
    padding: 0;
    margin-top:6%;
    margin-left: 0;
}

.nav {
    margin-bottom:5%;
    margin-top: 2%;
    padding:0%;
    list-style-type: none;
    font-family: sans-serif; 

}

.nav a,
.nav a:visited{
    text-decoration:none;
    color: #0074D9;

}

figcaption{
    display: inline-block;
    font-family:sans-serif;
    line-height:1em;
}
.texted{ 
    font-family:sans-serif;
    line-height:1.5em;
    padding: 0;
    margin: 0;
}


.billboard{
    margin: auto;
    max-width: 100%;
}

figure {
  position: relative;

}


@media only screen and (min-width: 25em) {
    
    .nav li {
    display: inline-block;
    border: 0;
    }
    
     

    
}


@media only screen and (min-width: 38em) {
    
    h1 { 
    float: left;
        
}
    .nav {
    float: left;
    
    }
    
    
    
@media only screen and (min-width: 60em) {
    

    }
    
    
    

